@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background: radial-gradient(#FFCC00, #365DAA);
}

.page-title {
  color: #365DAA;
  font-family: "Permanent Marker", serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 4em;

}